{% extends "layout2.html" %}

{% block container %}
<h1>Calculadora</h1>
    
    <div style="padding-top: 5%">
        <p>Formulario</p>


    <form action="/resultado" method="POST">

        <div>
            <div class="container">
                <p>Seleccione un tipo de operación matemática</p>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="operacion" id="btnSuma" value="Suma">
                    <label class="btn btn-outline-primary" for="btnSuma">Suma</label>
              
                    <input type="radio" class="btn-check" name="operacion" id="btnResta" value="Resta">
                    <label class="btn btn-outline-primary" for="btnResta">Resta</label>
              
                    <input type="radio" class="btn-check" name="operacion" id="btnMultiplicacion" value="Multiplicacion">
                    <label class="btn btn-outline-primary" for="btnMultiplicacion">Multiplicacion</label>
              
                    <input type="radio" class="btn-check" name="operacion" id="btnDivision" value="Division">
                    <label class="btn btn-outline-primary" for="btnDivision">Division</label>
                </div>
              </div>
        </div>
        
        <label>Numero 1: </label>
        <input class="form-control" type="text" name="n1"><br>
        <label>Numero 2: </label>
        <input class="form-control" type="text" name="n2"><br>
        <input class="btn btn-success" type="submit">
    </div>
</form>


{%endblock%}
